* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: fff;
  }
  .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 4rem;
    .card {
      position: relative;
      width: 300px;
      height: 200px;
      cursor: pointer;
      .face {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 9px;
         transition: all .6s ease;
        &.front {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          z-index: 1;
          color: #fff;
          transform-style: preserve-3d;
          transform-origin: bottom;
          transition: all 0.4s ease-in-out;
      box-shadow: 1em 1em 2em rgba(0,0,0,.6);
          
          .content {
            position: relative;
            text-align: center;
            color: white;
          }
          img {
            width: 100%;
            height: 100%;
            border-radius: 9px;
          }
          h2 {
            margin-bottom: 0.3em;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: #fff;
            font-weight: 500;
            text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        &.back {
          text-align: center;
          background: linear-gradient(
            40deg,
            rgba(67, 138, 243, 0.7),
            rgba(255, 242, 166, 0.7)
          );
          font-size: 1.2rem;
          padding: 0.8rem 0;
          transform-origin: top;
          transform: translateY(100%) rotateX(90deg);
          transform-style: preserve-3d;
          transition: all 0.4s ease-in-out;
          p {
            margin: 10px 0 24px;
            font-family: "ProximaNovaReg";
            color: #fff;
            line-height: 18px;
            max-height: 90px;
            overflow: hidden;
          }
          a {
            width: 200px;
            border-radius: 19px;
            background-color: #49b689;
            color: #fff;
            font-size: 11px;
            font-family: "ProximaNovaEB";
            text-transform: uppercase;
            padding: 13px 15px;
            margin: 2px;
            text-align: center;
            text-decoration: none;
          }
        }
      }
      &:hover {
        .front {
          transform: translateY(-100%) rotateX(90deg);
          transform-style: preserve-3d;
        }
        .back {
          transform: translateY(0) rotateX(0);
          transform-style: preserve-3d;
        }
      }
    }
  }
  
